<header class="d-flex justify-content-between text-white p-3 bg-primary">
    <span class="h2 m-0">Cadastro de Funcionários</span>
    <div class="d-flex align-items-center">
        <span class="h3 m-0 pe-4">{{user.nome}}</span>
        <form action="/logoff" method="post" class="m-0">
            <button type="submit" class="btn p-0 m-0"><i class="bi bi-box-arrow-right text-danger h2 m-0"></i></button>
        </form>
    </div>
</header>
